.jumbotron {
	background-image: url("../img/bokeh2.jpg");
	background-size: cover;
}

.jumbotron p {
	color: white;
}

.jumbotron h1 {
	color: #434445;
}

.jumbotron .container a {
	color: white;
	font-size: 1.25em;
	padding-right: 1.875em;
}

.footer{
	background-color: #B1B2B3;
	background-size: cover;
	color: white;
	margin-top: 3.75em;
}

a{
	color: #1585AB;
	text-decoration: none;
}

a:hover{
	color: #BD7D73;
}

ul{
	display: inline-block;
	list-style-type: circle;
}

body {
	color: #34495e;
	padding-top: 2.5625em;
	position: relative;
}

.footer ul{
	display: inline-block;
	list-style-type: circle;
}


/****CONTACT PAGE****/

.header h1 {
	text-align: center;
	font-size: 3em;
	padding: 1.875em 0;
	margin-bottom: 1.5em;
	background-image: url("../img/bokeh2.jpg");
	background-size: cover;
}

.socialbtns{
	text-align: center;
}

.socialbtns a{
	width: 1.875em;
	height:1.875em;
	background-size: 3.125em;
	padding: 1.875em;
}

.fb-btn{
	background: url("../img/facebook.png") no-repeat;
}

.twitter-btn{
	background: url("../img/twitter.png") no-repeat;
}

.wordpress-btn{
	background: url("../img/wordpress.png") no-repeat;
}

.info p{
	padding-top: 1.25em;
	text-align: center;
}

.info-text p{
	margin: 0 25%;
	padding-top: 1.25em;
	text-align: center;
}

#contact {
	background-image: url("../img/mountains.jpg");
	background-attachment: fixed;
	background-size: cover;
}

/*FAQ*/

.panel-default>.panel-heading {
	background-color: #b1b2b3;
	color: white;
	border-radius: 1.25em;
	text-align: center;
	width: 65%;
	margin: auto;
}

.panel-default {
	border: none;
}

.panel-body {
	width: 50%;
	text-align: center;
	margin: auto;
}

/***Nav bar***/
.lyssaFineman {
	text-transform: uppercase;
}

.lyssaFineman a {
	color: white;
}

.navbar-inverse {
	background-color: #545556;
	border-color: #545556;
}

.navbar-nav li{
	text-transform: uppercase;
}

/**
.nav {
	background-color: #b1b2b3;
	position: fixed;
	width: 100%;
	top: 0;
	height: 2.5625em;
	z-index: 1;
}
.nav ul {
	width: 100%;
}

.nav ul li {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	padding: 0.625em 1.25em;
	float:right;
}
**/

.nav a,
a {
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.navbar-inverse .navbar-nav>li>a:hover,
a:hover{
	color:#BD7D73;
}


/**Carousel Images**/

#carousel-main {
	margin-right: -15px;
	margin-left: -15px;
}

.writingImg .carousel-caption h2 {
	margin-right: 70%;
	margin-bottom:37%;
	color:#34495e;
}

.compImg .carousel-caption h2 {
	margin-right: 50%;
	margin-bottom: 57%;
	color: #34495e;
}

.coffeeImg .carousel-caption {
	margin-bottom: 10%;
}


/*About page*/

.image {
	display: inline-block;
}

.bio-pic {
	width: 100%;
	height: 83%;
}

#skill-list {
	margin-left: 3.125em;
	font-size: 1.5em;
}

.skills h2 {
	margin-left: 2.8em;
}


/*Typography*/

h1{
	font-family: 'Pavanam', Futura, Helvetica, Arial, sans-serif;
}

p{
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.5em;
}

.nav ul li a{
	font-family: 'Pavanam', Futura, Helvetica, Arial, sans-serif ;
	font-weight: 200;
	font-size: 1.1em;
	color: white;
}

.carousel-inner .item h2 {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
}

.anchor {
	padding-top: 50px;
}
